<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="theme-color" content="#ecf0f1">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		
		<script src={{url_for("static",filename="js/jquery.js")}}></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<!--<script src="js/jquery-ui/jquery-ui.js"></script>-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">-->
		<script type=text/javascript>
			//$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
  {% block body %}{% endblock %}
  
  </html>