<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



  </head>
  <body>
    <form action = "/suggests" method ="post">
    <div>
      <label>Org Name </label><input name = "OrgName" />
      </div>
      <div>
      <label>Location </label><input name = "Location" />
      </div>
      <div>
      <label>Phone </label><input name = "Phone" />
      </div>
      <div>
      <label>Email </label><input name = "Email" />
      </div>
      <label>Description </label><input name = "Description" />

      <input type="submit" value ="submit" />
    </form>
  </body>
</html>