
<!DOCTYPE html>
<html>
<head>
	<title>FreeLunch</title>
	<style>
		a:hover{
			font-color:black;
		}
	</style>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bundle.min.css')}}">

	<script src="https://use.fontawesome.com/f8dae95365.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Raleway|Space+Mono|Titillium+Web" rel="stylesheet">
    {% block map %}
   {% endblock  %}





</body>
</html>