listH1{
	padding-bottom:2vh;
	padding-top:15vw !important;
	margin-bottom:0;
	box-shadow:0 7px 19px black;
}

h1 listH1{
	margin-bottom:0;
}


a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }



.place{
	width:100%;
	text-align:center;
	border-bottom:1px solid black;
	
	padding-top:40px;
}



a:visited {
	color : black;
}

.hidden{
	display:none;
	text-align:center;
	font-size:2em;
}

.show{
	font-size:4vw;
	display:none;
}

.name{
	font-size:6vw;
}

.place:nth-child(even) {
    background: #e8e8e8;
}

